.main-row{
    background-color: rgb(24, 18, 18);
}



.sub-row{
    max-width: 38%;
    margin: auto;
    padding: 1px;
    
}


.first-row{
    background-color: #F8F8FF;
    font-size: 3rem;
    font-weight: 900;
    color: #0000CD;
    margin: -1.5rem;
    margin-top: 1em;
    padding-bottom: 4%;

}

.second-row{
    background-color: #1F2937;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #F8F8FF;
    margin: -1.5rem;
    padding: 2% 1%;
}
#row1{
    font: large;
    font-weight: 700;
    color: whitesmoke;
}
#row2{
    font-size: 48px;
    color: #f9faf8;
}
#row3{
    font-size: 18px;
    color: #E5E7EB;
}
#row4{
    font-size: 24px;
    color: #f9faf8;
}

.third-row{
    background-color: #FAF0E6;
    margin: -1.5rem;
}
#row5{
    color: #3882f6;
}
#row6{
    font-size: 36px;
    color: #1f2937;
}
span{
    color: coral;
    font-size: 20px;
    background: darkgreen;
}