.main-row{
    background-color: rgb(24, 18, 18);
}



.sub-row{
    max-width: 38%;
    margin: auto;
    padding: 1px;
    
}


.first-row{
    background-color: #F8F8FF;
    font-size: 3rem;
    font-weight: 900;
    color: #0000CD;
    margin: -1.5rem;
    margin-top: 1em;
    padding-bottom: 4%;

}

.second-row{
    background-color: #1F2937;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #F8F8FF;
    margin: -1.5rem;
    padding: 2% 1%;
}
#row1{
    font: large;
    font-weight: 700;
    color: whitesmoke;
}
#row2{
    font-size: 48px;
    color: #f9faf8;
}
#row3{
    font-size: 18px;
    color: #E5E7EB;
}
#row4{
    font-size: 24px;
    color: #f9faf8;
}

.third-row{
    background-color: #FAF0E6;
    margin: -1.5rem;
}
#row5{
    color: #3882f6;
}
#row6{
    font-size: 36px;
    color: #1f2937;
}
span{
    color: coral;
    font-size: 20px;
    background: darkgreen;
}

/* This is the start of the second landing page */


* {
    background-color: 	rgb(1, 1, 32);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, nav, h1, p, button {
    color: whitesmoke;
    font-weight: 500;
    font-size: 20px;

}

nav{
    font-size: 30px;
    font-style: italic;
}
h1 {
    font-size: 3rem;
    margin-top: 15px;
 }

.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    
}
.container2{
    list-style: none;
}
.container2 li{
    display: inline-block;
    padding: 0px 20px;

}
button{
    background-color: rgb(86, 42, 206);
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    margin-top: 15px;
}

img {
    float: right;
    width: 30rem;
    height: 15rem;
    padding-right: 46px;
    margin-top: -4rem;
}















































